# Notebook para acesso ao Receita Data - dados de viajantes

In [1]:
import getpass
import pandas as pd
from datalake_serpro import handler_dl

In [2]:
user = getpass.getuser() + '@DATALAKE.SERPRO'
senha = getpass.getpass(f'Senha para kinit {user}:')

Senha para kinit 25052288840@DATALAKE.SERPRO:········

In [3]:
commands = f'echo "{senha}" | /opt/anaconda3/bin/kinit {user}'
! {commands}

Password for 25052288840@DATALAKE.SERPRO:

In [4]:
! /opt/anaconda3/bin/klist

Ticket cache: FILE:/tmp/krb5cc_1227403730
Default principal: 25052288840@DATALAKE.SERPRO

Valid starting       Expires              Service principal
06/07/2021 17:57:02  06/08/2021 03:57:02  krbtgt/DATALAKE.SERPRO@DATALAKE.SERPRO
	renew until 06/14/2021 17:57:02

# Testes

In [5]:
con = handler_dl(DEBUG=True, timeout=300)

Conectado ao Servidor impalaharfb.srv.datalake.serpro.

In [6]:
cpfs = pd.read_csv('viagem.csv', header=None, names=['cpf'])

In [7]:
cpfs.cpf.values

array(['cpf_cnpj', '24500272895', '31319748000185', '71678031119',
       '14838636000111', '34531284000164', '15149499897', '71666466166',
       '71671615190', '33696488810', '08652438757', '74182593000190',
       '22692307879', '24138981000104', '00963519000175',
       '05342805000137', '84574062720', '37121715015', '51542161568',
       '12211733000154', '37404903904', '00017889650', '29652717000108',
       '01041693000123', '01003363105', '14706880000120',
       '58277831000195', '93165269068', '00033971145', '02464443557',
       '47102497687', '58393528968', '47862580753', '05948334856',
       '04860363671', '05401876408', '74405721149', '60652772153',
       '68722192620', '02886427000164', '86846847000379', '75828839349',
       '34628478805', '07424168878', '53213866920', '00387243089',
       '71676285148', '14661049888', '70570914434', '74016628172',
       '24497587800', '84717874900', '22220546802', '05500075632',
       '82330441991', '23659544000165', '35248581800', '11101713747',
       '34109602874', '31331606802', '80518621715', '07719437000129',
       '01831941000130', '80286631172', '31623655897', '12446786782',
       '05637532931', '15403235876', '14744353789', '34579003888',
       '14295235814', '35385344893', '23401371878', '71673138152',
       '10386830843', '00159698782', '81579705553', '12467273741',
       '63446430997', '20409117404', '74087444791', '96354313768',
       '33575569878', '10110482727', '30235475000128', '87273535168',
       '11414240708', '31837376808', '05216108777', '11088029159',
       '27556029883', '34504672715', '78213185587', '01729629601',
       '63129930949', '02545612413', '13457746800', '36903253823',
       '78170389100', '71687966150', '83907572300', '07524646801',
       '11015743722', '23205302826', '01261093000170', '06101230000123',
       '28650287808', '01123417725', '92150063549', '87311593115',
       '07621914149', '62263471200', '37742948877', '09956546704',
       '11278224000186', '51595908000126', '70328499110',
       '33443064000116', '24492401873', '39843833805', '36668782884',
       '07335487000102', '24425680634', '63222485291', '82270791720',
       '10874832128', '09196155701', '31838684824', '07647473719',
       '80163438994', '10548178801', '23532611830', '06611254757',
       '11109067143', '12689481871', '81182465749', '36358117858',
       '26974857837', '17980465806', '26368603801', '07836457000180',
       '02898825166', '04746087946', '24502131806', '81184190020',
       '31506153801', '22986676839', '04802909000114', '29906171839',
       '18257510000104', '31302005000100', '71684967198', '10029328829',
       '03984677650', '88974162920', '21912407809', '24504522810',
       '10957629150', 'ERI KONDO', '07869248886', '00729184897',
       '70153472103', '05114875922', '04302459808', '02217812000119',
       '73267333849', '74258990191', '05036535863', '58852212191',
       '00791454002', '30579015653', '24481314818', '21041743840',
       '05408401000107', '00781272971', '10800010000165', '11061757196',
       '65122186987', '35480496808', '07223321652', '00647242982',
       '54367310744', '01230668000198', '24469216000169', '23766336720',
       '24484812886', '10331873133', '24501256800', '03969042623',
       '00162505671', '94636591968', '24495173839', '24503526863',
       '71664601139', '10656289198', '04784763961', '30075291827',
       '06526611907', '18363512168', '11029545197', '33846614866',
       '31335381600', '14696962822', '13486383892', '80153028971',
       '24429772819', '78724503720', '10732992877', '10368046826',
       '00891868429', '09620371844', '23218667801', '13499564653',
       '74725629715', '06495979908', '71908859000141', '01241993564',
       '11390543846', '71210253968', '21621354857', '71668045133',
       '71646205120', '38594343817', '10782380735', '01315638070',
       '23600103873', '14343415694', '65067622687', '30972779191',
       '14736309830', '25715701880', '06602909797', '30786280867',
       '09295915000146', '71689727152', '20766699000102', '05938051789',
       '71664204130', '71694389170', '10990588130', '10979571103',
       '10925004000134', '03836644894', '61358843600', '03273941000278',
       '71675519102', '08237151836', '21995590000100', '03803912954',
       '24492758860', '71695811160', '24433850861', 'MR. MASATO OTSUKA',
       '28721379807', '36417947904', '04758859884', '33890486851',
       '01030767947', '33662013800', '03851392841', '02968469967',
       '32503535828', '35578815200', '29455700840', '06080297850',
       '05421670856', '92949576915', '32762037824', '34697507851',
       '28610867854', '19978022791', '39953387800', '10564240877',
       '06692580676', '38065017851', '25976759807', '28118797813',
       '18570012810', '15374186884', '14404184972', '25045426826',
       '94020345872', '41428227806', '08913462877', '24480903860',
       '03378611000166', '49114360268', '07432189730', '05503143779',
       '00141501740', '08152939765', '01329954769', '90377990434',
       '02404279718', '10424274701', '27264337820', '88949982668',
       '04178867806', '05351976919', '92464432253', '07417705987',
       '34792168899', '32758019884', '22238456813', '03564844910',
       '05583605804', '28951699854', '32994984873', '43799188827',
       '15228902899', '13081078890', '32041361832', '24660433862',
       '08249853709', '08322541856', '07578332929', '16097088817',
       '28808466841', '06902957908', '44246320838', '40435817850',
       '36071795818', '30040060225', '06253387820', '01101009217',
       '00412516870', '23780170817', '24728180840', '28734518827',
       '54667887753', '10303442131', '16665066134', '88962300710',
       '05014988695', '27879294864', '24856319809', '13603692870',
       '00560455909', '74313711104', '80051790815', '04059827630',
       '07570877799', '37117626895', '08459484157', '00813373700',
       '69051844891', '57502501134', '07658364754', '05477724757',
       '90974026972', '34944551000125', '83178864172', '88937801949',
       '23287299832', '10905982118', '71694015173', '24416957890',
       '05358005765', '25175095811', '37903505831', '17218148000108',
       '08760502835', '24477787839', '24501981806', '70740909134',
       '24488228836', '01863332774', '12393851100', '01232137626',
       '55386733087', '11663465878', '28819798824', '06978728748',
       '02907130722', '02184707708', '55073824091', '25699598715',
       '05221721000145', '19386079000169', '70151975108', '00334222141',
       '58145060915', '21303791846', '23865199291', '15663225889',
       '05773693771', '02693875013', '35257638835', '04507652960',
       '06906518640', '11081335840', '26015755000153', '34746439672',
       '04007499632', '71694853110', '11126209155', '01905735707',
       '74817841087', '06300050793', '05646989620', '15604969672',
       '42347035835', '06053214000102', '12294108809', '15916636873',
       '59378433200', '92940617791', '07720307000106', '21656769000132',
       '26936812864', '20625262883', '11118855167', '89459288715',
       '02663427799', '08389984709', '11737968860', '90563433787',
       '70537534687', '90599233168', '07959030731', '10520420667',
       '06199470206', '10724372792', '07536039778', '24302791691',
       '27009118817', '10999180142', '23368672819', '08041386644',
       '35039039840', '23674848000100', '80132576902', '80036244520',
       '60980800625', '03691485928', '28813465882', '23763998829',
       '52104087600', '69252718672', '52956970704', '36466659801',
       '00630218625', '07041939000143', '34859934920', '07477486831',
       '14868486802', '03136945832', '06454298809', '27757213894',
       '27465320852', '82776393091', '11074446674', '30399647805',
       '19460572820', '08533117736', '85340081915', '70661618900',
       '14002903761', '21625132859', '02595226789', '27537972850',
       '11107214122', '26907514885', '08478067744', '06609578761',
       '71690644133', '61268038504', '07543607840', '01407114735',
       '87557550110', '10995507180', '42796334015', '57222410759',
       '01294974440', '32877355000150', '03394995913', '79546021504',
       '15836384746', '28942213391', '22865350860', '04951588609',
       '05923353806', '18236042855', '02951972857', '86794515849',
       '22085046827', '88961125753', '15698775800', '11807789870',
       '45050663000159', '04667870141', '66738636768', '59255536834',
       '08437558735', '70211856185', '10996349707', '43201629863',
       '42970285819', '04314009896', '35873698104', '70953120449',
       '07952940000120', '11126537160', '24466406804', '28652707855',
       '71695623169', '71695813103'], dtype=object)

In [23]:
'", "'.join(cpfs.cpf.values[:10])

'71678031119", "29539415845", "15149499897", "71666466166", "28189019520", "00624937950", "71671615190", "65638336834", "33696488810", "08652438757'

In [27]:
df_vu

      numero_vu       cpf_vu
0  2.014093e+16  65638336834
1  2.014082e+16  33696488810
2  2.017022e+16  29539415845
3  2.014112e+16  08652438757
4  2.015111e+16  15149499897
5  2.017081e+16  00624937950
6  2.018040e+16  28189019520

In [33]:
lista_vus = ['%d' % numero_vu for numero_vu in df_vu.numero_vu.values]
lista_vus

['20140925215071420',
 '20140822203576048',
 '20170224001161216',
 '20141122182006344',
 '20151113074532508',
 '20170812145861504',
 '20180402083729272']

In [34]:
sql_viagens = 'SELECT * FROM coana.edbv_dados_voos WHERE apvj_vuvg_cd in (%s)' % ', '.join(lista_vus)
df_viagens = pd.read_sql(sql_viagens, con)

In [35]:
df_viagens

,apvj_vuvg_cd,apvj_apva_apvo_dt_chegada,apvj_cd_loc_reserva,apvj_cd_local_embarque,apvj_cd_local_destino,apvj_cd_agencia_gov,apvj_qt_bagagem,apvj_qt_peso_bag_kg,apco_nm,apvj_apva_apvo_nr_voo
0,2.017022e+16,2019-07-04 08:20:00,GRXMZT,MIA,GRU,None,NaN,None,American Airlines,995
1,2.017022e+16,2020-11-01 05:50:00,XLZHYF,GRU,MIA,None,2.0,None,American Airlines,906
2,2.014093e+16,2014-09-25 21:50:00,2G282U,EZE,GRU,None,NaN,None,TAM Mercosur,721
3,2.014093e+16,2019-11-08 05:20:00,IQQVIJ,BOG,GRU,None,NaN,None,TAM Brazilian Airlines,8001
4,2.014093e+16,2018-09-18 10:45:00,PEOHIK,GRU,HAJ,None,2.0,None,Lufthansa,507
...,...,...,...,...,...,...,...,...,...,...
118,2.017081e+16,2017-08-13 06:25:00,NYKSH,GRU,LIS,None,1.0,None,Iberia Airlines,6824
119,2.017022e+16,2018-06-24 04:55:00,FOOXDH,GRU,MIA,None,1.0,None,American Airlines,930
120,2.017022e+16,2015-11-22 07:30:00,RQELIC,MIA,GRU,None,2.0,None,American Airlines,929
121,2.014093e+16,2016-08-01 10:45:00,ZAAHGZ,GRU,MVD,None,1.0,None,TAM Brazilian Airlines,8044
122,2.014093e+16,2017-05-26 20:40:00,VXZXDF,SCL,GRU,None,1.0,None,TAM Brazilian Airlines,8027

In [39]:
df_final = df_viagens.merge(df_vu, left_on='apvj_vuvg_cd', right_on='numero_vu')

In [40]:
df_final.head()

,apvj_vuvg_cd,apvj_apva_apvo_dt_chegada,apvj_cd_loc_reserva,apvj_cd_local_embarque,apvj_cd_local_destino,apvj_cd_agencia_gov,apvj_qt_bagagem,apvj_qt_peso_bag_kg,apco_nm,apvj_apva_apvo_nr_voo,numero_vu,cpf_vu
0,2.017022e+16,2019-07-04 08:20:00,GRXMZT,MIA,GRU,None,NaN,None,American Airlines,995,2.017022e+16,29539415845
1,2.017022e+16,2020-11-01 05:50:00,XLZHYF,GRU,MIA,None,2.0,None,American Airlines,906,2.017022e+16,29539415845
2,2.017022e+16,2017-11-25 10:25:00,PXBGRX,MIA,GRU,None,3.0,None,American Airlines,995,2.017022e+16,29539415845
3,2.017022e+16,2017-05-29 06:55:00,CMZPYD,GRU,MIA,None,1.0,None,American Airlines,906,2.017022e+16,29539415845
4,2.017022e+16,2020-03-18 06:40:00,MGTMXF,GRU,MIA,None,1.0,None,American Airlines,906,2.017022e+16,29539415845

In [36]:
con.close()

# Rodar

In [5]:
def get_viagens_cpfs(lista_cpfs):
    sql_vu = 'SELECT DISTINCT cpf_vu as cpf, numero_vu FROM coana.edbv_viajante_unico_geral WHERE cpf_vu in ("%s")'
    sql_viagens = 'SELECT * FROM coana.edbv_dados_voos WHERE apvj_vuvg_cd in (%s)'
    df_vu = pd.read_sql(sql_vu % '", "'.join(lista_cpfs), con)
    lista_vus = ['%d' % numero_vu for numero_vu in df_vu.numero_vu.values]
    df_viagens = pd.read_sql(sql_viagens % ', '.join(lista_vus), con)
    df_final = df_vu.merge(df_viagens, right_on='apvj_vuvg_cd', left_on='numero_vu')
    return df_final

In [6]:
def get_nomes_cnpjs(lista_cpfs):
    sql_cnpjs ='SELECT DISTINCT b_cd_cnpj_emph as cnpj, nm_cnpj_emph_empresarial as nome ' + \
               'FROM cnpj.wd_cnpj_esth where b_cd_cnpj_emph in (%s)'
    lista_cnpjs = []
    for row in lista_cpfs:
        try:
            item = str(int(row[:8]))
            lista_cnpjs.append(item)
        except:
            pass
    df_cnpjs = pd.read_sql(sql_cnpjs % ', '.join(lista_cnpjs), con)
    return df_cnpjs

def get_nomes_cpfs(lista_cpfs):
    sql_cpfs = 'SELECT DISTINCT b_cd_cnpf_cpf as cpf, nm_cnpf_cpfa_nome as nome ' + \
               ' FROM cnpf.wd_cnpf_cpfa where b_cd_cnpf_cpf in (%s)'
    lista = []
    for row in lista_cpfs:
        try:
            item = str(int(row))
            lista.append(item)
        except:
            pass
    df_cpfs = pd.read_sql(sql_cpfs % ', '.join(lista), con)
    return df_cpfs

In [7]:
cpfs = pd.read_csv('viagem.csv', header=None, names=['cpf'])
cpfs2 = pd.read_csv('pessoa.csv', header=None, names=['cpf'])
with handler_dl(DEBUG=True, timeout=300) as con:
    df_viagens = get_viagens_cpfs(cpfs.cpf.values)
    df_cnpjs = get_nomes_cnpjs(cpfs2.cpf.values)
    df_cpfs = get_nomes_cpfs(cpfs2.cpf.values)

df_viagens.to_csv('viagens.csv')
df_cnpjs.to_csv('cnpjs.csv')
df_cpfs.to_csv('cpfs.csv')

Conectado ao Servidor impalaharfb.srv.datalake.serpro.